/.gradle
/.idea
/build
/local.properties
/local.properties
referencelibrary/src/main/jni/cBSON
referencelibrary/src/main/jni/ed25519
referencelibrary/src/main/jni/mbedtls-2.1.2
referencelibrary/src/main/jni/wish
referencelibrary/src/main/jni/wish_app
referencelibrary/src/main/jni/wish_rpc
referencelibrary/src/main/jni/port
referencelibrary/src/main/jni/deps

