/.gradle
/.idea
/build
/local.properties
/local.properties
referencelibrary/src/main/obj
referencelibrary/src/main/jni/mist
referencelibrary/src/main/jni/wish
referencelibrary/src/main/jni/wish_app
referencelibrary/src/main/jni/wish_app_deps
referencelibrary/src/main/jni/wish_rpc
referencelibrary/src/main/jni/deps
referencelibrary/src/main/libs/

